@import '../../styles/variable.scss';
@import '../../styles/resonsive.scss';
.navbar {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        display: flex;
        gap: 10px;
        font-weight: bold;
        align-items: center;
    }

    .icons {
        display: flex;
        gap: 20px;
        align-items: center;

        .icon{
              @include sm{
                display: none;
              }
        }

      .notification{
        position: relative;
        span{
            background-color: red;
            color: $main-color;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            top: -10px;
            right: -10px;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
      }

    }

    .user {
        display: flex;
        align-items: center;
        gap: 10px;
        color: $main-color;

        .user-popup{

          .menu-appbar{
            width: 300px;
            max-height: max-content;
          }
        }

        img {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}